<!-- {% for tweet in tweets %}
<tr>
  <th scope="row">{{ tweet.tweet_text }} {% if tweet.is_active %}<span class="badge badge-pill badge-success">Aktiv</span>{% endif %}</th>
  <td style="white-space:nowrap;">{{ tweet.published_date }}</td>
  <td>{% if tweet.is_active %}
    <a class="btn btn-primary btn-sm" href="{% url 'tweet_set_inactive' pk=tweet.tweet_id %}" role="button">Deaktivieren</a>
    {% else %}
    <a class="btn btn-success btn-sm" href="{% url 'tweet_set_active' pk=tweet.tweet_id %}" role="button">Aktivieren</a>
    {% endif %}
    <p>gufULD</p> 
    </td>
</tr>
{% endfor %} -->
<!-- <blockquote class="twitter-tweet" data-lang="en"><p lang="hi" dir="ltr">Prof Rakesh Sinha, MP (Rajya Sabha), called on <a href="https://twitter.com/hashtag/PresidentKovind?src=hash&amp;ref_src=twsrc%5Etfw">#PresidentKovind</a> at Rashtrapati Bhavan <a href="https://t.co/pNrLUNMaaT">pic.twitter.com/pNrLUNMaaT</a></p>&mdash; President of India (@rashtrapatibhvn) <a href="https://twitter.com/rashtrapatibhvn/status/1144597303681941505?ref_src=twsrc%5Etfw">June 28, 2019</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
<!-- <a class="twitter-timeline" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></scrdipt> -->




<!-- <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
<!-- <a href="https://twitter.com/intent/tweet?button_hashtag=LoveTwitter&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #LoveTwitter</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
<!-- ################to login through  -->
